Repository erikescher/portulock-keyserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server_build, server_test, server_lint, server_format, server_audit, wasm_build, wasm_lint, wasm_format, wasm_audit, ui_build, ui_audit

server_build:
  image: rustlang/rust:nightly
  stage: build
  before_script:
  - apt update && apt install --yes clang libclang-dev llvm llvm-dev lcov python3-pip librust-clang-sys*
  - cd portulock-keyserver
  script:
  - cargo build --release
  artifacts:
    paths:
    - portulock-keyserver/target/release/aggregator
  ...

server_test:
  image: rustlang/rust:nightly
  stage: test
  before_script:
  - apt update && apt install --yes clang libclang-dev llvm llvm-dev lcov python3-pip librust-clang-sys*
  - cd portulock-keyserver
  needs: []
  script:
  - cargo test

server_lint:
  image: rustlang/rust:nightly
  stage: test
  before_script:
  - apt update && apt install --yes clang libclang-dev llvm llvm-dev lcov python3-pip librust-clang-sys*
  - rustup component add clippy
  - cd portulock-keyserver
  needs: []
  script:
  - cargo clippy -- -D warnings

server_format:
  image: rustlang/rust:nightly
  stage: test
  before_script:
  - cd portulock-keyserver
  needs: []
  script:
  - cargo fmt -- --check

server_audit:
  image: rustlang/rust:nightly
  stage: test
  before_script:
  - cargo install cargo-audit
  - cd portulock-keyserver
  needs: []
  script:
  - cargo audit

wasm_build:
  image: rust
  stage: build
  before_script:
  - apt update && apt install --yes clang libclang-dev llvm llvm-dev librust-clang-sys*
  - rustup target add wasm32-unknown-unknown
  - cargo install wasm-pack --vers 0.9.1
  - cd openpgp-trustsign-wasm
  script:
  - wasm-pack build
  needs: []
  artifacts:
    paths:
  ...

wasm_lint:
  image: rustlang/rust:nightly
  stage: test
  before_script:
  - rustup component add clippy
  - cd openpgp-trustsign-wasm
  needs: []
  script:
  - cargo clippy -- -D warnings

wasm_format:
  image: rustlang/rust:nightly
  stage: test
  before_script:
  - rustup component add rustfmt
  - cd openpgp-trustsign-wasm
  needs: []
  script:
  - cargo fmt -- --check

wasm_audit:
  image: rustlang/rust:nightly
  stage: test
  before_script:
  - cargo install cargo-audit
  - cd openpgp-trustsign-wasm
  script:
  - cargo audit

ui_build:
  image: node:lts
  stage: build
  before_script:
  - cd keyserver-ui
  needs:
  - wasm_build
  script:
  - npm install
  - npm run build
  artifacts:
    paths:
    - keyserver-ui/dist

ui_audit:
  image: node:lts
  stage: test
  before_script:
  - cd keyserver-ui
  needs: []
  script:
  - npm audit --production

Add thesis and presentation
  thesis.pdf
  thesis_presentation.pdf
Due: none

Update README.md to reference the uploaded thesis.
  README.md
Due: none

UI: npm audit and upgrade
  keyserver-ui/package-lock.json
  keyserver-ui/package.json
Due: wasm_build, ui_build, ui_audit

Docker: accept that ui.json might not be copied from the npm_builder
  Dockerfile
Due: none

WASM: clippy lint
  openpgp-trustsign-wasm/src/lib.rs
Due: wasm_build, wasm_lint, wasm_format

Server: cargo update
  portulock-keyserver/Cargo.lock
Due: server_build, server_test, server_lint, server_audit

UI: update packages
  keyserver-ui/package-lock.json
  keyserver-ui/package.json
  keyserver-ui/vue.config.js
Due: wasm_build, ui_build, ui_audit

remove in_band_lifetimes features
  portulock-keyserver/shared/src/errors.rs
  portulock-keyserver/shared/src/lib.rs
  portulock-keyserver/verifier/src/main.rs
  portulock-keyserver/verifier/src/management/mod.rs
  portulock-keyserver/verifier/src/verification/tokens/mod.rs
Due: server_build, server_test, server_lint, server_format

Server: cargo clippy
  portulock-keyserver/verifier/src/db/mod.rs
  portulock-keyserver/verifier/src/db/revocations.rs
  portulock-keyserver/verifier/src/key_storage/openpgp_ca_lib.rs
  portulock-keyserver/verifier/src/management/mod.rs
  portulock-keyserver/verifier/src/submission/mailer.rs
Due: server_build, server_test, server_lint, server_format

CI: build images and store in registry
  .gitlab-ci.yml
Due: server_build, server_test, server_lint, server_format, server_audit, wasm_build, wasm_lint, wasm_format, ui_build, ui_audit

CI: restructure image names
  .gitlab-ci.yml
Due: server_build, server_test, server_lint, server_format, server_audit, wasm_build, wasm_lint, wasm_format, ui_build, ui_audit

CI: more precise requirements for image builds
  .gitlab-ci.yml
Due: server_build, server_test, server_lint, server_format, server_audit, wasm_build, wasm_lint, wasm_format, ui_build, ui_audit

CI: more stages
  .gitlab-ci.yml
Due: server_build, server_test, server_lint, server_format, server_audit, wasm_build, wasm_lint, wasm_format, ui_build, ui_audit

CI: define empty needs for image builds
  .gitlab-ci.yml
Due: server_build, server_test, server_lint, server_format, server_audit, wasm_build, wasm_lint, wasm_format, ui_build, ui_audit

CI: trigger deploy_demo job from demo project
  .gitlab-ci.yml
Due: server_build, server_test, server_lint, server_format, server_audit, wasm_build, wasm_lint, wasm_format, ui_build, ui_audit

log OIDC requests and responses
  portulock-keyserver/verifier/src/verification/tokens/oidc_verification.rs
Due: server_build, server_test, server_lint, server_format

CI: fix changes regex for images
  .gitlab-ci.yml
Due: server_build, server_test, server_lint, server_format, server_audit, wasm_build, wasm_lint, wasm_format, ui_build, ui_audit

CI: periodically run audit and rebuild tasks
  .gitlab-ci.yml
Due: server_build, server_test, server_lint, server_format, server_audit, wasm_build, wasm_lint, wasm_format, ui_build, ui_audit

Verifier: additional OIDC logging
  portulock-keyserver/verifier/src/verification/tokens/oidc_verification.rs
Due: server_build, server_test, server_lint, server_format

Verifier: fix OIDC bug due to Auth0 protocol violation
  portulock-keyserver/verifier/Cargo.toml
Due: server_build, server_test, server_lint, server_audit

Readme: fix whitespace in code blocks
  README.md
Due: none

Cargo update to fix RUSTSEC-2022-0013
  portulock-keyserver/Cargo.lock
Due: server_build, server_test, server_lint, server_audit

Verifier: additional logging for OIDC
  portulock-keyserver/verifier/src/verification/tokens/oidc_verification.rs
Due: server_build, server_test, server_lint, server_format

Verifier: implement tracing for SSO endpoints
  portulock-keyserver/Cargo.lock
  portulock-keyserver/verifier/Cargo.toml
  portulock-keyserver/verifier/src/key_storage/mod.rs
  portulock-keyserver/verifier/src/key_storage/multi_keystore.rs
  portulock-keyserver/verifier/src/key_storage/openpgp_ca_lib.rs
  portulock-keyserver/verifier/src/main.rs
  portulock-keyserver/verifier/src/utils_verifier/expiration.rs
  portulock-keyserver/verifier/src/verification/mod.rs
  portulock-keyserver/verifier/src/verification/tokens/oidc_verification.rs
  portulock-keyserver/verifier/src/verification_endpoint.rs
Due: server_build, server_test, server_lint, server_format, server_audit

Verifier: use anyhow in CustomError and VerifierError
  portulock-keyserver/Cargo.lock
  portulock-keyserver/shared/Cargo.toml
  portulock-keyserver/shared/src/errors.rs
  portulock-keyserver/verifier/src/errors.rs
  portulock-keyserver/verifier/src/verification/mod.rs
  portulock-keyserver/verifier/src/verification/tokens/oidc_verification.rs
Due: server_build, server_test, server_lint, server_format, server_audit

Verifier: instrument for tracing
  portulock-keyserver/shared/src/types.rs
  portulock-keyserver/shared/src/utils/rocket_helpers.rs
  portulock-keyserver/verifier/src/db/mod.rs
  portulock-keyserver/verifier/src/db/verified.rs
  portulock-keyserver/verifier/src/errors.rs
  portulock-keyserver/verifier/src/internal_endpoint.rs
  portulock-keyserver/verifier/src/key_storage/mod.rs
  portulock-keyserver/verifier/src/key_storage/multi_keystore.rs
  portulock-keyserver/verifier/src/key_storage/openpgp_ca_lib.rs
  portulock-keyserver/verifier/src/main.rs
  portulock-keyserver/verifier/src/management/mod.rs
  portulock-keyserver/verifier/src/management_endpoint.rs
  portulock-keyserver/verifier/src/submission/internal_submission.rs
  portulock-keyserver/verifier/src/submission/mailer.rs
  portulock-keyserver/verifier/src/submission/mod.rs
  portulock-keyserver/verifier/src/submission_endpoint.rs
  portulock-keyserver/verifier/src/verification/mod.rs
  portulock-keyserver/verifier/src/verification/tokens/mod.rs
  portulock-keyserver/verifier/src/verification/tokens/oidc_verification.rs
  portulock-keyserver/verifier/src/verification_endpoint.rs
Due: server_build, server_test, server_lint, server_format

Verifier: use log feature rather than tracing-log crate
  portulock-keyserver/verifier/Cargo.toml
Due: server_build, server_test, server_lint, server_audit

Aggregator: tracing instrumentation
  portulock-keyserver/Cargo.lock
  portulock-keyserver/aggregator/Cargo.toml
  portulock-keyserver/aggregator/src/lookup_endpoint.rs
  portulock-keyserver/aggregator/src/main.rs
  portulock-keyserver/shared/src/lookup/mod.rs
Due: server_build, server_test, server_lint, server_format, server_audit

cargo fmt
  portulock-keyserver/shared/src/errors.rs
  portulock-keyserver/verifier/src/main.rs
Due: server_build, server_test, server_lint, server_format

update dependencies for openpgp-trustsign-wasm
  openpgp-trustsign-wasm/Cargo.lock
  openpgp-trustsign-wasm/Cargo.toml
Due: wasm_build, wasm_lint, wasm_audit

CI: add build metadata as labels to container
  .gitlab-ci.yml
Due: server_build, server_test, server_lint, server_format, server_audit, wasm_build, wasm_lint, wasm_format, ui_build, ui_audit

CI: finer changes selection for images
  .gitlab-ci.yml
Due: server_build, server_test, server_lint, server_format, server_audit, wasm_build, wasm_lint, wasm_format, ui_build, ui_audit

Make encrypted SMTP optional for use with mailcatcher in demo environment.
  portulock-keyserver/verifier/src/main.rs
  portulock-keyserver/verifier/src/management/mod.rs
  portulock-keyserver/verifier/src/submission/mailer.rs
  portulock-keyserver/verifier/src/submission/mod.rs
  portulock-keyserver/verifier/src/verification/mod.rs
Due: server_build, server_test, server_lint, server_format

SAML support
  .gitlab-ci.yml
  Dockerfile
  portulock-keyserver/Cargo.lock
  portulock-keyserver/verifier/src/main.rs
  portulock-keyserver/verifier/src/verification_endpoint.rs
  portulock-keyserver/verifier/templates/verify_name_code.html.hbs
  portulock-keyserver/verifier_lib/Cargo.toml
  portulock-keyserver/verifier_lib/src/errors.rs
  portulock-keyserver/verifier_lib/src/lib.rs
  portulock-keyserver/verifier_lib/src/verification/mod.rs
  portulock-keyserver/verifier_lib/src/verification/sso/mod.rs
  portulock-keyserver/verifier_lib/src/verification/sso/oidc_verification.rs
  portulock-keyserver/verifier_lib/src/verification/sso/saml_verification.rs
  portulock-keyserver/verifier_lib/src/verification/tokens/mod.rs
Due: server_build, server_test, server_lint, server_format, server_audit, wasm_build, wasm_lint, wasm_format, ui_build, ui_audit

Object-oriented DB implementation refactoring
  portulock-keyserver/Cargo.lock
  portulock-keyserver/verifier/Cargo.toml
  portulock-keyserver/verifier/src/db/diesel_sqlite.rs
  portulock-keyserver/verifier/src/db/diesel_types.rs
  portulock-keyserver/verifier/src/db/mod.rs
  portulock-keyserver/verifier/src/db/schema.rs
  portulock-keyserver/verifier/src/internal_endpoint.rs
  portulock-keyserver/verifier/src/main.rs
  portulock-keyserver/verifier/src/management_endpoint.rs
  portulock-keyserver/verifier/src/submission_endpoint.rs
  portulock-keyserver/verifier/src/verification_endpoint.rs
  portulock-keyserver/verifier_lib/Cargo.toml
  portulock-keyserver/verifier_lib/migrations/2021-06-14-151941_create_tables/down.sql
  portulock-keyserver/verifier_lib/migrations/2021-06-14-151941_create_tables/up.sql
  portulock-keyserver/verifier_lib/migrations/2021-10-31-093800_pending_revocations/down.sql
  portulock-keyserver/verifier_lib/migrations/2021-10-31-093800_pending_revocations/up.sql
  portulock-keyserver/verifier_lib/src/db/mod.rs
  portulock-keyserver/verifier_lib/src/db/pending.rs
  portulock-keyserver/verifier_lib/src/db/revocations.rs
  portulock-keyserver/verifier_lib/src/db/verified.rs
  portulock-keyserver/verifier_lib/src/db_new/mod.rs
  portulock-keyserver/verifier_lib/src/errors.rs
  portulock-keyserver/verifier_lib/src/key_storage/mod.rs
  portulock-keyserver/verifier_lib/src/lib.rs
  portulock-keyserver/verifier_lib/src/management/mod.rs
  portulock-keyserver/verifier_lib/src/submission/internal_submission.rs
  portulock-keyserver/verifier_lib/src/submission/mailer.rs
  portulock-keyserver/verifier_lib/src/submission/mod.rs
  portulock-keyserver/verifier_lib/src/verification/challenges.rs
  portulock-keyserver/verifier_lib/src/verification/mod.rs
  portulock-keyserver/verifier_lib/src/verification/tokens/mod.rs
Due: server_build, server_test, server_lint, server_format, server_audit

switch from custom error types to anyhow::Error
  portulock-keyserver/aggregator/src/lookup/email.rs
  portulock-keyserver/aggregator/src/lookup/handle.rs
  portulock-keyserver/aggregator/src/lookup/keyserver.rs
  portulock-keyserver/aggregator/src/lookup/mod.rs
  portulock-keyserver/aggregator/src/lookup_endpoint.rs
  portulock-keyserver/shared/src/errors.rs
  portulock-keyserver/shared/src/filtering/filters.rs
  portulock-keyserver/shared/src/lib.rs
  portulock-keyserver/shared/src/types.rs
  portulock-keyserver/shared/src/utils/armor.rs
  portulock-keyserver/shared/src/utils/rocket_helpers.rs
  portulock-keyserver/verifier/src/internal_endpoint.rs
  portulock-keyserver/verifier/src/management_endpoint.rs
  portulock-keyserver/verifier/src/submission_endpoint.rs
  portulock-keyserver/verifier/src/verification_endpoint.rs
  portulock-keyserver/verifier_lib/src/db/mod.rs
  portulock-keyserver/verifier_lib/src/errors.rs
  portulock-keyserver/verifier_lib/src/key_storage/mod.rs
  portulock-keyserver/verifier_lib/src/key_storage/multi_keystore.rs
  portulock-keyserver/verifier_lib/src/key_storage/openpgp_ca_lib.rs
  portulock-keyserver/verifier_lib/src/lib.rs
  portulock-keyserver/verifier_lib/src/management/mod.rs
  portulock-keyserver/verifier_lib/src/submission/internal_submission.rs
  portulock-keyserver/verifier_lib/src/submission/mailer.rs
  portulock-keyserver/verifier_lib/src/submission/mod.rs
  portulock-keyserver/verifier_lib/src/verification/mod.rs
  portulock-keyserver/verifier_lib/src/verification/sso/mod.rs
  portulock-keyserver/verifier_lib/src/verification/sso/oidc_verification.rs
  portulock-keyserver/verifier_lib/src/verification/sso/saml_verification.rs
  portulock-keyserver/verifier_lib/src/verification/tokens/mod.rs
Due: server_build, server_test, server_lint, server_format

reduce dependencies for shared crate
  portulock-keyserver/Cargo.lock
  portulock-keyserver/shared/Cargo.toml
  portulock-keyserver/shared/src/utils/mod.rs
  portulock-keyserver/verifier/src/internal_endpoint.rs
  portulock-keyserver/verifier/src/main.rs
  portulock-keyserver/verifier/src/management_endpoint.rs
  portulock-keyserver/verifier/src/rocket_helpers.rs
Due: server_build, server_test, server_lint, server_format, server_audit

migrate aggregator to rocket 0.5
  portulock-keyserver/Cargo.lock
  portulock-keyserver/aggregator/Cargo.toml
  portulock-keyserver/aggregator/src/async_helper.rs
  portulock-keyserver/aggregator/src/certification/local.rs
  portulock-keyserver/aggregator/src/certification/mod.rs
  portulock-keyserver/aggregator/src/config.rs
  portulock-keyserver/aggregator/src/error.rs
  portulock-keyserver/aggregator/src/lookup/email.rs
  portulock-keyserver/aggregator/src/lookup/handle.rs
  portulock-keyserver/aggregator/src/lookup/keyserver.rs
  portulock-keyserver/aggregator/src/lookup/mod.rs
  portulock-keyserver/aggregator/src/lookup_endpoint.rs
  portulock-keyserver/aggregator/src/main.rs
  portulock-keyserver/shared/Cargo.toml
  portulock-keyserver/shared/src/utils/mod.rs
  portulock-keyserver/verifier/Cargo.toml
  portulock-keyserver/verifier/src/async_helper.rs
  portulock-keyserver/verifier/src/internal_endpoint.rs
  portulock-keyserver/verifier/src/main.rs
  portulock-keyserver/verifier/src/management_endpoint.rs
  portulock-keyserver/verifier/src/submission_endpoint.rs
  portulock-keyserver/verifier/src/verification_endpoint.rs
  portulock-keyserver/verifier_lib/Cargo.toml
Due: server_build, server_test, server_lint, server_format, server_audit

migrate verifier to rocket 0.5
  portulock-keyserver/Cargo.lock
  portulock-keyserver/shared/src/utils/armor.rs
  portulock-keyserver/verifier/Cargo.toml
  portulock-keyserver/verifier/src/db/diesel_sqlite.rs
  portulock-keyserver/verifier/src/db/mod.rs
  portulock-keyserver/verifier/src/error.rs
  portulock-keyserver/verifier/src/holders.rs
  portulock-keyserver/verifier/src/internal_endpoint.rs
  portulock-keyserver/verifier/src/main.rs
  portulock-keyserver/verifier/src/management_endpoint.rs
  portulock-keyserver/verifier/src/rocket_helpers.rs
  portulock-keyserver/verifier/src/submission_endpoint.rs
  portulock-keyserver/verifier/src/verification_endpoint.rs
  portulock-keyserver/verifier_lib/Cargo.toml
  portulock-keyserver/verifier_lib/src/db_new/mod.rs
  portulock-keyserver/verifier_lib/src/key_storage/mod.rs
  portulock-keyserver/verifier_lib/src/lib.rs
  portulock-keyserver/verifier_lib/src/submission/mailer.rs
  portulock-keyserver/verifier_lib/src/verification/mod.rs
  portulock-keyserver/verifier_lib/src/verification/sso/mod.rs
Due: server_build, server_test, server_lint, server_format, server_audit

Path conditions:
  server_build: any of: portulock-keyserver/**/*, .gitlab-ci.yml
  server_test: any of: portulock-keyserver/**/*, .gitlab-ci.yml
  server_lint: any of: portulock-keyserver/**/*, .gitlab-ci.yml
  server_format: any of: portulock-keyserver/**/*.rs, portulock-keyserver/rustfmt.toml, .gitlab-ci.yml
  server_audit: any of: portulock-keyserver/Cargo.lock, portulock-keyserver/**/Cargo.toml, portulock-keyserver/.cargo/audit.toml, .gitlab-ci.yml
  wasm_build: any of: keyserver-ui/**/*, openpgp-trustsign-wasm/**/*, .gitlab-ci.yml
  wasm_lint: any of: openpgp-trustsign-wasm/**/*, .gitlab-ci.yml
  wasm_format: any of: openpgp-trustsign-wasm/**/*.rs, openpgp-trustsign-wasm/rustfmt.toml, .gitlab-ci.yml
  wasm_audit: any of: openpgp-trustsign-wasm/Cargo.lock, openpgp-trustsign-wasm/**/Cargo.toml, openpgp-trustsign-wasm/.cargo/audit.toml
  ui_build: any of: keyserver-ui/package.json, keyserver-ui/package-lock.json, keyserver-ui/**/*, .gitlab-ci.yml
  ui_audit: any of: keyserver-ui/package.json, keyserver-ui/package-lock.json, .gitlab-ci.yml
