Repository erikescher/portulock-keyserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: server_build, server_test, server_lint, server_format, server_audit, server_image_verifier, server_image_aggregator, wasm_build, wasm_lint, wasm_format, wasm_audit, ui_build, ui_audit, reverse_proxy_image

server_build:
  image: rustlang/rust:nightly
  stage: build
  before_script:
  - apt update && apt install --yes clang libclang-dev llvm llvm-dev lcov python3-pip librust-clang-sys*
  - cd portulock-keyserver
  script:
  - cargo build --release
  artifacts:
    paths:
    - portulock-keyserver/target/release/aggregator
  ...

server_test:
  image: rustlang/rust:nightly
  stage: test
  before_script:
  - apt update && apt install --yes clang libclang-dev llvm llvm-dev lcov python3-pip librust-clang-sys*
  - cd portulock-keyserver
  needs: []
  script:
  - cargo test

server_lint:
  image: rustlang/rust:nightly
  stage: quality
  before_script:
  - apt update && apt install --yes clang libclang-dev llvm llvm-dev lcov python3-pip librust-clang-sys*
  - rustup component add clippy
  - cd portulock-keyserver
  needs: []
  script:
  - cargo clippy -- -D warnings

server_format:
  image: rustlang/rust:nightly
  stage: quality
  before_script:
  - cd portulock-keyserver
  needs: []
  script:
  - cargo fmt -- --check

server_audit:
  image: rustlang/rust:nightly
  stage: audit
  before_script:
  - cargo install cargo-audit
  - cd portulock-keyserver
  needs: []
  script:
  - cargo audit

server_image_verifier:
  image: docker
  stage: images
  before_script:
  - echo "$CI_REGISTRY_IMAGE $CI_JOB_ID $CI_COMMIT_BRANCH"
  script:
  - docker login --username="$CI_REGISTRY_USER" --password="$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  ...

server_image_aggregator:
  image: docker
  stage: images
  before_script:
  - echo "$CI_REGISTRY_IMAGE $CI_JOB_ID $CI_COMMIT_BRANCH"
  script:
  - docker login --username="$CI_REGISTRY_USER" --password="$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  ...

wasm_build:
  image: rust
  stage: build
  before_script:
  - apt update && apt install --yes clang libclang-dev llvm llvm-dev librust-clang-sys*
  - rustup target add wasm32-unknown-unknown
  - cargo install wasm-pack --vers 0.9.1
  - cd openpgp-trustsign-wasm
  script:
  - wasm-pack build
  needs: []
  artifacts:
    paths:
  ...

wasm_lint:
  image: rustlang/rust:nightly
  stage: quality
  before_script:
  - rustup component add clippy
  - cd openpgp-trustsign-wasm
  needs: []
  script:
  - cargo clippy -- -D warnings

wasm_format:
  image: rustlang/rust:nightly
  stage: quality
  before_script:
  - rustup component add rustfmt
  - cd openpgp-trustsign-wasm
  needs: []
  script:
  - cargo fmt -- --check

wasm_audit:
  image: rustlang/rust:nightly
  stage: audit
  before_script:
  - cargo install cargo-audit
  - cd openpgp-trustsign-wasm
  script:
  - cargo audit

ui_build:
  image: node:lts
  stage: build
  before_script:
  - cd keyserver-ui
  needs:
  - wasm_build
  script:
  - npm install
  - npm run build
  artifacts:
    paths:
    - keyserver-ui/dist

ui_audit:
  image: node:lts
  stage: audit
  before_script:
  - cd keyserver-ui
  needs: []
  script:
  - npm audit --production

fix CI on gitlab.com
  .gitlab-ci.yml
Due: server_build, server_test, server_lint, server_format, server_audit, server_image_verifier, server_image_aggregator, wasm_build, wasm_lint, wasm_format, ui_build, ui_audit, reverse_proxy_image

switch to build_kit to speed up container compiles
  .gitlab-ci.yml
Due: server_build, server_test, server_lint, server_format, server_audit, server_image_verifier, server_image_aggregator, wasm_build, wasm_lint, wasm_format, ui_build, ui_audit, reverse_proxy_image

Bugfix: incorrect serialization of certificates to the database
  portulock-keyserver/verifier/src/db/diesel_sqlite.rs
Due: server_build, server_test, server_lint, server_format, server_image_verifier

deserialize MailerConfig using serde
  portulock-keyserver/verifier/src/main.rs
  portulock-keyserver/verifier_lib/src/submission/mailer.rs
Due: server_build, server_test, server_lint, server_format, server_image_verifier

improve logging for wkd regeneration
  portulock-keyserver/verifier/src/main.rs
Due: server_build, server_test, server_lint, server_format, server_image_verifier

only delete the folder for the relevant domain when regenerating a WKD
  portulock-keyserver/verifier_lib/src/key_storage/openpgp_ca_lib.rs
Due: server_build, server_test, server_lint, server_format

switch periodic tasks to tokio instead of separate threads and skip internal endpoints
  portulock-keyserver/verifier/Cargo.toml
  portulock-keyserver/verifier/src/holders.rs
  portulock-keyserver/verifier/src/internal_endpoint.rs
  portulock-keyserver/verifier/src/main.rs
  portulock-keyserver/verifier_lib/src/key_storage/mod.rs
  portulock-keyserver/verifier_lib/src/key_storage/multi_keystore.rs
  portulock-keyserver/verifier_lib/src/key_storage/openpgp_ca_lib.rs
Due: server_build, server_test, server_lint, server_format, server_audit, server_image_verifier

switch to stable rust
  .gitlab-ci.yml
  Dockerfile
  portulock-keyserver/verifier/src/main.rs
Due: server_build, server_test, server_lint, server_format, server_audit, server_image_verifier, server_image_aggregator, wasm_build, wasm_lint, wasm_format, ui_build, ui_audit, reverse_proxy_image

remove AsyncHelper from aggregator
  portulock-keyserver/aggregator/src/async_helper.rs
  portulock-keyserver/aggregator/src/lookup/keyserver.rs
  portulock-keyserver/aggregator/src/main.rs
Due: server_build, server_test, server_lint, server_format, server_image_aggregator

fix: Futures used in tokio must be Send
  .gitlab-ci.yml
  Dockerfile
  portulock-keyserver/Cargo.lock
  portulock-keyserver/Cargo.toml
  portulock-keyserver/aggregator/src/lookup/keyserver.rs
  portulock-keyserver/verifier/src/main.rs
Due: server_build, server_test, server_lint, server_format, server_audit, server_image_verifier, server_image_aggregator, wasm_build, wasm_lint, wasm_format, ui_build, ui_audit, reverse_proxy_image

generate secret_key and token_signing_key at startup if not provided
  portulock-keyserver/Cargo.lock
  portulock-keyserver/aggregator/src/main.rs
  portulock-keyserver/shared/Cargo.toml
  portulock-keyserver/shared/src/utils/mod.rs
  portulock-keyserver/shared/src/utils/random.rs
  portulock-keyserver/verifier/src/main.rs
Due: server_build, server_test, server_lint, server_format, server_audit, server_image_verifier, server_image_aggregator

Initialize DEV environment
  .gitlab-ci.yml
Due: server_build, server_test, server_lint, server_format, server_audit, server_image_verifier, server_image_aggregator, wasm_build, wasm_lint, wasm_format, ui_build, ui_audit, reverse_proxy_image

provide template dir via environment variable in dockerfile rather than at runtime
  Dockerfile
Due: server_image_verifier, server_image_aggregator, reverse_proxy_image

document DEMO environment
  DEMO.md
  README.md
Due: none

UI: fix default config
  keyserver-ui/src/plugins/vuex.js
Due: wasm_build, ui_build

Note that repo is mirrored to GitHub
  README.md
Due: none

Reformat README.md
  README.md
Due: none

Upgrade samael to 0.0.9 which incorporates my PR regarding the StatusCode
  portulock-keyserver/Cargo.lock
  portulock-keyserver/verifier_lib/Cargo.toml
Due: server_build, server_test, server_lint, server_audit

cargo update
  portulock-keyserver/Cargo.lock
Due: server_build, server_test, server_lint, server_audit

Path conditions:
  server_build: any of: portulock-keyserver/**/*, .gitlab-ci.yml
  server_test: any of: portulock-keyserver/**/*, .gitlab-ci.yml
  server_lint: any of: portulock-keyserver/**/*, .gitlab-ci.yml
  server_format: any of: portulock-keyserver/**/*.rs, portulock-keyserver/rustfmt.toml, .gitlab-ci.yml
  server_audit: any of: portulock-keyserver/Cargo.lock, portulock-keyserver/**/Cargo.toml, portulock-keyserver/.cargo/audit.toml, .gitlab-ci.yml
  server_image_verifier: any of: portulock-keyserver/shared/**/*, portulock-keyserver/verifier/**/*, .gitlab-ci.yml, Dockerfile
  server_image_aggregator: any of: portulock-keyserver/shared/**/*, portulock-keyserver/aggregator/**/*, .gitlab-ci.yml, Dockerfile
  wasm_build: any of: keyserver-ui/**/*, openpgp-trustsign-wasm/**/*, .gitlab-ci.yml
  wasm_lint: any of: openpgp-trustsign-wasm/**/*, .gitlab-ci.yml
  wasm_format: any of: openpgp-trustsign-wasm/**/*.rs, openpgp-trustsign-wasm/rustfmt.toml, .gitlab-ci.yml
  wasm_audit: any of: openpgp-trustsign-wasm/Cargo.lock, openpgp-trustsign-wasm/**/Cargo.toml, openpgp-trustsign-wasm/.cargo/audit.toml
  ui_build: any of: keyserver-ui/package.json, keyserver-ui/package-lock.json, keyserver-ui/**/*, .gitlab-ci.yml
  ui_audit: any of: keyserver-ui/package.json, keyserver-ui/package-lock.json, .gitlab-ci.yml
  reverse_proxy_image: any of: reverse-proxy/**, keyserver-ui/**, openpgp-trustsign-wasm/**, .gitlab-ci.yml, Dockerfile
